.main-box{
    display: flex;
    margin-left: 5vh;
}

.text-box{
    flex: 3;
    max-width: 50%;
}

.image-container{
    flex: 1;
    max-width: 50%;
    margin: 2%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}