.main-box{
    display: flex;
    margin-left: 5vh;
    margin-bottom: 2%;
}

.text-box{
    flex: 1;
}

.text-box p{
    margin: 0;
    width: 100%;
}

.image-container-svedig{
    flex: 1;
    max-width: 50%;
    margin: 2%;
}

.image-container-svedig img {
    margin-top: 5%;
    max-width: 100%;
    height: auto;
}

.mail-getter {
    margin-top: 5%;
}