.b2b-section h1, p{
    margin-left: 40px;
    width: 50%;
}

.b2b-img{
    float: right;
    margin-right: 10%;
    margin-top: -10%;

}

.b2b-action-container{
    width: 50%;
    height: auto;
}

.b2b-action {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#b2b-extra-width{
    width: 100%;
}

.form-field {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.form-field label {
    display: block;
    font-weight: bold;
    position: relative;
    margin-bottom: 5px;
    color: #333;
}

.form-field input {
    padding: 1% 66% 1% 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-field input:focus {
    border-color: #008CBA;
    outline: none;
}

#form-field-less-width{
    width: 75%;
}

.action-button {
    background-color: rgb(027, 121, 057);
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.action-button:hover {
    font-size: 20px;
    padding: 14px 26px;
    background-color: rgb(092, 174, 099);
}

#action-button-extra-top-margin{
    margin-top: 3%;
}

.image-container{
    flex: auto;
}

.benefits{
    margin-left: 40px;
}

#table-p {
    margin-left: -1px;
}

.benefits-table a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.page-break-container{
    width: 100%;
    object-fit: fill;
    padding-top: 5%;
}

#page-break{
    width: 100%;
    object-fit: cover;
    max-height: 60vh;
}

.partners-container2 {
    width: 100%;
}

.partner2-row{
    display: flex;
    max-width: 100%;
    padding-left: 10%;
}

.partner2-row2{
    padding-top: 5%;
    display: flex;
    max-width: 100%;
    padding-left:10%
}

.partner2{
    flex: 1;
    max-width: 100%;
    align-items: center;
}

.partner2 p{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.partner-name2{
    font-weight: bold;
}

.partner2-row2,.partner2-row p{
    max-width: 100%;
}

.partner2-img-container{
    width: 60%;
    display: flex;
    justify-content: center;
}

.partner2-img-container img{
    width: 45%;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.partner2-text{
    width: 50%;
    text-align: center;
}

.
