.donation-container{
    margin-left: 4%;
}

.donation-text{
    width: 50%;
}

.b2b-action-container{
    width: 100%;
    height: auto;
}

.b2b-action {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 15px;
    text-align: left;
}

.form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-field input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-field input:focus {
    border-color: #008CBA;
    outline: none;
}

.action-button {
    background-color: rgb(027, 121, 057);
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.action-button:hover {
    font-size: 20px;
    padding: 14px 26px;
    background-color: rgb(092, 174, 099);
}

.tooltip {
    font-size: 14px;
    color: #007BFF;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    padding: 5px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
    pointer-events: none;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}
.page-break-container{
    width: 100%;
    object-fit: fill;
    padding-top: 5%;
}

#page-break{
    width: 100%;
    object-fit: cover;
    max-height: 40vh;
    padding-bottom: 5vh;
}

.kupon-section  {
    width: 90%;
    margin: auto;
}

.kupon-section h1, #paragraf{
    width: 70%;
}

.kupon-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

.kupon-text{
    padding-bottom: 2.5%;
}

.kupon-item{
    flex: 1;
    margin: auto;
    width: 85%;
    height: 100%;
    align-items: center;
    transition: all 0.3s ease;
    padding: 1%;
}

.kupon-item-img{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.kupon-item-img img{
    width: 15vh;
    background: white;
    height: 15vh;
    margin: auto;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    object-fit: contain;
    transition: all 0.3s ease;
}

.kupon-item:hover {
    transform: scale(1.125);
}

.kupon-item:hover p {
    padding-top: 2%;
    position: relative;
    top: 100%;
}

.kupon-item:hover img{
    position: relative;
    top: 5%;
    transform: scale(1.125  );
}

.kupon-item-text{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.kupon-item-text p{
    transition: all 0.3s ease;
}



