.faq-section{
    width: 95%;
    margin-left: 40px;
}

html {
    scroll-behavior: smooth; /* Tilføj denne linje for at få glidende scroll */
}

.faq-container {
    display: flex;
    justify-content: space-between;
}

.faq-sidebar {
    width: 25%;
    position: sticky;
    padding-left: 1%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    top: 35%; /* Starten af din FAQ box */
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
}

.faq-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.faq-sidebar ul li {
    margin: 10px 0;
    gap: 5px;
}

.faq-sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 12px;

}

.faq-sidebar li:hover{
    transform: scale(1.055);
}

.faq-content-imgbreak{
    max-width: 100%;
}

.faq-content-imgbreak img{
    max-width: 100%;
}

.faq-content-img-right{
    float: right;
    margin-right: 40px;}

.faq-content-img-right2{
    float: right;
    margin-right: 40px;
    padding-top: 7%;
}

.faq-content-img-right2 img,
.faq-content-img-right img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.faq-content {
    margin-top: -35%;
    margin-left: 30%;
    padding: 20px;
}

.faq-content h3, p{
    width: 100%;
}

.faq-content div {
    margin-bottom: 5vh;
}

.faq-content h3 {
    color: #333;
}

.faq-action-container{
    max-width: 100%;
    height: auto;
    padding-bottom: 10%;
    padding-top: 2%;
    margin-left: 6%;

}

.faq-action {
    max-width: 600px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-field {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.form-field label {
    display: block;
    font-weight: bold;
    position: relative;
    margin-bottom: 5px;
    color: #333;
}

.form-field input {
    padding: 1% 66% 1% 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-field input:focus {
    border-color: #008CBA;
    outline: none;
}

#form-field-less-width{
    width: 75%;
}

.action-button {
    background-color: rgb(027, 121, 057);
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.action-button:hover {
    font-size: 20px;
    padding: 14px 26px;
    background-color: rgb(092, 174, 099);
}
