.navbar {
    display: flex;
    background-color: green;
    position: relative;
}

.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown, .dropdown2, .dropdown-content3 {
    position: relative;
    margin-right: 10px; /* Adds some space between the dropdowns */
}

.drop-knap, .drop-knap2, .drop-knap3 {
    background-color: green;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;

}

.dropdown-content, .dropdown-content2, .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content2 a, .dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content2 a:hover, .dropdown-content3 a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown3:hover .dropdown-content3 {
    display: block;
}
.footerMainDiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.column{
    background-color: green;
    text-align: left;
    flex: 1;
    color: white;
}

.column a{
    color: white;
}

.column img{
    width: 100%;
    height: auto;
    padding-left: 10%
}

#paddingForImage{
    padding-left: 5%;
}

#center{
    text-align: center;
    padding-bottom: 10%;
}

.columnlast-column{
    background-color: green;
    color: white;
    padding-left: 10%;
    flex: 1;
    text-align: left;
    display: block;
}

.columnlast-column h2{
    font-size: 15px;
}

.columnlast-column h1{
    font-size: 20px;
}




