.navbar {
    font-family: Arial, ui-serif;
    font-size: 16px;
    display: flex;
    background-color: green;
    position: relative;
}

.navbar img {
    padding: 5px;
    height: 64px;
}

.navbar a {
    font-size: inherit;
    color: white;
    text-align: center;
    padding: 29px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add transition for hover effects */
}

.dropdown {
    position: relative;
}

.drop-btn {
    background-color: inherit;
    color: white;
    padding: 29px 16px;
    font-size: inherit;
    border: none;
    transition: background-color 0.3s ease; /* Add transition for hover effects */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.navbar a:hover, .dropdown:hover .drop-btn{
    background-color: rgba(0, 0, 0, 0.33);
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* footer */
.footerMainDiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.column{
    background-color: green;
    text-align: left;
    flex: 1;
    color: white;
}

.column a{
    color: white;
}

.column img{
    width: 100%;
    height: auto;
    padding-left: 10%
}

#paddingForImage{
    padding-left: 5%;
}

#center{
    text-align: center;
    padding-bottom: 10%;
}

.last-column{
    background-color: green;
    color: white;
    padding-left: 10%;
    flex: 1;
    text-align: left;
    display: block;
}

.last-column h2{
    font-size: 15px;
}

.last-column h1{
    font-size: 20px;
}

.strategy p{
    font-size:20px;

}
.strategy{
    flex: 1;
    padding-right: 20px;
}

.parent-div{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.arla-img{
    flex: 1;
    max-width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.arla-img img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}



